#js-question {
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-color: orange;
    border-color: orange;
    color: black;
}

.btn-4 {
   display: flex;
   justify-content: center;
}

.btn {
    cursor: pointer;
    width: 150px;
    padding: 20px;
    margin: 20px 20px 0 20px;
    font-size: 20px;
    background-color: gray;
    border-color: black;
    color: black;
}

.btn:hover {
    background-color: black;
    border-color: gray;
    color: white;
}

@media screen and (max-width: 767px) {
    #js-question {
        font-size: 40px;
    }

    .btn {
        width: 100%;
        padding: 20px 0 20px 0;
        margin: 20px 2px 0 2px;
        background-color: black;
        border-color: gray;
        color: white;
    }
}
